@import '../themes/colors.scss';

.slideshow {
    position: relative;
    max-width: 1240px;
    height: 415px;
    
    @media (max-width: 767.98px) {
        height: 255px;
    }

    &__picture {
        width: 100%;
        height:100%;
        border-radius: 25px;
        object-fit: cover;
    }

    &__numbers {
        position: absolute;
        color: $white;
        bottom: 20px;
        left: 50%;
        font-size: 18px;
        font-weight: 500;

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        color: $white;
        width: 96px !important;
        height: 120px !important;
        cursor: pointer;

        @media (max-width: 767.98px) {
            width: 24px !important;
            height: 24px !important;
        }

       &--left {
        transform: translateY(-50%);
        left: 20px;
       }

       &--right {
        right:20px;
        transform: translateY(-50%) rotate(180deg);
       }
    }
}
