@import '../themes/colors.scss';

.star-rating {
    display: flex;
    align-items: center;
    width: 196px;
    height: 36px;

    &__star {
        width: 24px;
        height: 24px;
        margin: 6px;
        color: $color-secondary;
        
        &--active {
            color: $color-primary;
        }
    }
}