.aproposContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    padding-top: 45px;
    width: 100%;
    min-height: 100vh;
    min-width: 375px;

    @media (max-width: 767.98px) {
        padding-top: 20px;
        gap: 20px; 
    }

    .apropos {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1240px;
        width: 100%;
        gap: 40px;
        flex-grow: 1;
        padding: 0px 20px;
        box-sizing: border-box;
    
        @media (max-width: 767.98px) {
            gap: 20px;
        }
    
        &__dropdowns {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 1023px;
    
            @media (max-width: 767.98px) {
                gap: 20px;
            }

            .title__text {
                font-size: 24px;

                @media (max-width: 767.98px) {
                    font-size: 13px;
                }
            }

            .content li {
                @media (max-width: 767.98px) {
                    font-size: 12px;
                }
            }
        }
    }
}

