@import '../themes/colors.scss';

.hebergementsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 45px;
    width: 100%;
    min-width: 375px;

    @media (max-width: 767.98px) {
        padding-top: 20px;
        gap: 27px;
    }

    .hebergements {
        display: flex;
        max-width: 1240px;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
    
        &__description {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
    
            @media (max-width: 767.98px) {
                flex-direction: column;
                margin-top: 15px;
                
            }

            .leftCol {
                display: flex;
                flex-direction: column;

                .title {
                    display: flex;
                    flex-direction: column;
            
                    &__name {
                        font-size: 36px;
                        color: $color-primary;
                        font-weight: 500;

                        @media (max-width: 767.98px) {
                            font-size: 18px;
                        }
                    }
            
                    &__location {
                        font-size: 18px;
                        color: $black;
                        font-weight: 500;

                        @media (max-width: 767.98px) {
                            font-size: 14px;
                        }
                    }
                }

                .tags{
                    margin-top: 20px;

                    @media (max-width: 767.98px) {
                        margin-top: 10px;
                    }
                }
            }
            
            .rightCol {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 767.98px) {
                    flex-direction: row-reverse;
                    margin-top: 15px;
                }

                .host{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 167px;
                    height: 64px;
                    gap: 10px;

                    @media (max-width: 767.98px) {
                        width: 93px;
                        height: 33px;
                    }
            
                    &__name {
                        font-size: 18px;
                        color: $color-primary;
                        font-weight: 500;
                        text-align: right;
    
                        @media (max-width: 767.98px) {
                            font-size: 12px;
                        }
                    }
    
                    &__picture {
                        width: 64px;
                        height: 64px;
                        border-radius: 50px;
    
                        @media (max-width: 767.98px) {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                .rating{
                    margin-top: 21px;
                    @media (max-width: 767.98px) {
                        margin-top: 0px;
                    }
                }

            }

        }

        &__dropdown {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            gap : 76px;

            .title__text {
                font-size: 18px;

                @media (max-width: 767.98px) {
                    font-size: 13px;
                }
            }

            .content li {
                @media (max-width: 767.98px) {
                    font-size: 12px;
                }
            }
        
            @media (max-width: 767.98px) {
                flex-direction: column;
                gap: 20px;
                margin-top: 15px;
            }
        }
    } 
}

